<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>Template Missing!</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div style="height:40%"></div>
	<div style="height:30%;">
		<center>
			<h1>ERROR!</h1>
			<b>Template Missing!</b>
			<p>please check your application path</br>
			OR your columns Settings</p>
			<a href="/">return to index page</a>
		</center>
	</div>
</body>
</html>