// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3";


@import "global";

html{
	height: 100%;
}
body{
	background: white;
	height: 100%;
	.container{
		height: 100%;
	}
	.surface{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.surface-inner{
			position: relative;
			height: 100%;
			overflow: auto;

			&:after{
				clear: both;
			}
		}
	}

	article.user{
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 1000;
		.top-bar{
			padding: 0;
			height: 45px;
			ul.right{
				li{
					margin-right: 0;
				}
			}
		}
	}
	article{
		position: relative;
		&:after{
			clear: both;
			content: " ";
		}
	}
	.site-logo{
		z-index: 1000;
		position: absolute;
		left: 10px;
		top: 10px;
		padding: 4px;
		width: 40px;
		height: 40px;
		background-color: #f8f8f8;
		@include box-shadow(rgba(0,0,0,0.2) 0 0 3px 1px);
	}
	footer{
		position: relative;
	}	
	.post-page-wrapper{
		margin-top: 0;
		padding-top: 120px;
		.leave-comment{
			margin-top: 50px;
			textarea{
				resize:none;
				height: 80px;
			}
		}
		.post-comments{
			position: relative;
			margin-top: 40px;
			background-color: #f9f9f7;
			width: 100%;
			border-top: 1px solid #dededc;
			.header{
				width: 100%;
				position: absolute;
				top: -19px;
				height: 34px;
				text-align: center;
				span{
					display: inline-block;
					height: 34px;
					line-height: 32px;
					padding: 0 13px;
					background: #fff;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: .2em;
					text-transform: uppercase;
					text-align: center;
					color: #b3b3b1;
					border: 1px solid #dededc;
				}
			}
			.comment-list{
				max-width: 700px;
				margin: auto;
				margin-top: 40px;
				padding-bottom: 100px;
				.comment-body{
					margin: 10px 0;
					position: relative;
					.comment-user{
						position: absolute;
						width: 40px;
						left: 0;
						top: 0;
						img{
							border-radius: 40px;
						}
					}
					.comment-text{
						.arrow{
							float: left;
							position: absolute;
							top:4px;
							left: 55px;
							width: 20px;
							height: 20px;
							clip: rect(2px 18px 28px 0);
							background-color: white;
							@include transform(rotate(45deg) translate(5px,-5px));
							border:1px solid #efefef;

						}
						span.floor{
							float: right;
							position: absolute;
							right: 0px;
							top: 1px;
							color:white;
							width: 14px;
							height: 14px;
							font-size: 14px;
							padding-left: 3px;
							background-color: #dfdfdf;

						}
						span.signature{
							float: right;
							position: absolute;
							right: 1px;
							bottom: 1px;
							a{
								font-size: 14px;
								color:gray;
							}
						}
						margin-left: 70px;
						padding: 15px;
						background-color: white;
						@include box-shadow(rgba(0,0,0,0.2) 2px 2px 3px -1px);
						border:1px solid #efefef;
						font-size: 14px;
					}
				}
			}
		}
		.post-page-inner{
			max-width: 700px;
			margin: 0 auto;
			h1{
				margin-bottom: 0.3em;
			}
			span.time{
				display: block;
				width: 100%;
				margin-bottom: 1em;
				color:#b3b3b1;
			}
			.author{
				position: relative;
				width: 160px;
				margin-left: -230px;
				float: left;
				text-align: right;
				img{
					width: 70px;
					height: 70px;
					border-radius: 70px;
					margin-bottom: 10px;
				}
				a{
					color:#333332;
					line-height: 1.2;
					font-weight: bold;
					&:hover{
						color:#5ebbc2;
					}
				}
				.publish-time{
					padding: 0;
					padding-top: 10px;
					margin-top: 0;
					position: relative;
					color:#666665;
					font-size: 14px;
					margin-top: 40px;

					&:before{
						content: '';
						width: 40px;
						height: 1px;
						background: #dededc;
						position: absolute;
						top: 0;
						right: 0;
					}
					strong{
						color:#333332;
						font-size: 14px;
					}
				}

			}
			span.comments{
				display: block;
				margin: 0 300px 0 0;
				border-bottom: 2px solid $hover-color;
			}
			.recommand{
				position: relative;
				.before{
					content: '';
					width: 40px;
					height: 2px;
					background: #dededc;
					position: absolute;
					top: -30px;
					left: 0;
					margin-bottom: 20px;
				}
				
				button{
					float: left;
				}
				.recommand-votes{
					position: relative;
					float: left;
					padding-left: 11px;
					.vote-inner{
						padding :12px 10px 11px;
						font-size: 12px;
						min-width: 17px;
						border:1px solid #dededc;
						border-radius: 4px;
					}
					.vote-arrow{
						left: 1px;
						top: 50%;
						
						position: absolute;
						border:1px solid #dededc;
						@include transform(rotate(45deg) translate(5px,-5px));
						background-color: white;
						margin-top: -5px;
						width: 8px;
						height: 8px;
						clip: rect(1px 7px 18px 0);
					}
				}
			}

			.body{
				
				h1{
					margin:0.1em 0 1.6em 0;
					font-size: 2em;
				}
				h2{
					margin: 0.1em 0 1.6em 0;
					font-size: 1.6em;
				}
				h3{
					margin: 0.1em 0 1.5em 0;
					font-size: 1.2em;
				}
				h4{
					font-size: 1em;
				}
				span.time{
					float: right;
					margin: 0.6em 0;
				}
				p, pre{
					line-height: 1.8;	
					font-size: 1em;
					margin-bottom: 1.5em;
				}
				ul{
					list-style: none;
				}
			}


		}
	}
}