<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Crowd Writing--{$domain}</title>
  <link href="stylesheets/app.css" rel="stylesheet" type="text/css"> 
  <link href="stylesheets/font-awesome.css" rel="stylesheet" type="text/css"> 
  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>
<body>
  {$part:nav}
  <section class="main">
    <div class="row">
      <div class="columns large-6">
        <input type="text" value='Untitled Document'>
        <textarea class='editor' id='editor'>
* **Shadow DOM**: 图1右边的一系列DOM对象的集合
* **shadow DOM subtrees** ( **Shadow DOM子树** ):  **Shadow DOM** 由多个DOM节点树组成。在渲染时，**Shadow DOM子树** 会把 **shadow host** 的内容替换成 **Shadow DOM子树** 自身的内容进行渲染
* **shadow boundaries** : **Shadow DOM 子树** 之间的封装边界
* **shadow host** : 在文档中承载 **shadow DOM子树** 的节点
* **shadow root** : Shadow DOM 中每一个 **shadow DOM子树** 的根节点
* **insert point** : 为了让 **shadow DOM子树** 和  **shadow host** 的节点组合起来，使用 **insert point** 来指定 **shadow host** 的字节点插入到 **shadow DOM子树** 中的位置
* **distribution** : 将 **shadow host** 的字节点插入到 **shadow DOM子树** 中的 **insert point** ，再用 **shadow DOM子树** 替换掉 **shadow host** 的内容进行渲染，这个过程被成为 **distribution**

    </textarea>
      </div>
      <div class="columns large-6">
        <div class="preview shadow-box" id='preview'>
          <div class="inner">
            
          </div>
        </div>
      </div>
    </div>
  </section> 
  <script src='javascripts/vendor/myrkdown.js'></script>
  {$part:script}
</body>
</html>
